<div class="grid-container">

  <div class="grid-x">

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

  </div>

  <div class="grid-x">

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

    <div class="small-4 cell">

      <app-card>

      </app-card>

    </div>

  </div>

</div>
